body {
    background-color: #DCDCDC;
}

.esconder {
    display: none; 
}

.celula {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #DCDCDC;
}

.imagem-bomba {
    max-width: 40px;
    max-height: 40px;
}

.azul {
    background-color: blue;
}

.vermelho {
    background-color: red;
}

.verde {
    background-color: green;
}

.laranja {
    background-color: orange;
}

#aviso-resultado {
    position: fixed;
    left: 0;
    top: 0; 
    width: 100%;
    color: white;
    text-align: center;
  }
